body {
    max-width: 100%;
    background: #f5f5f5;
    font-family: 'Lato', Helvetica, serif;
}

header {
    letter-spacing: 2px;
}

h1 {
    font-size: 50px;
    color: lightblue;
    text-shadow: 2px 2px gray;
}

p {
    font-size: 24px;
    letter-spacing: 2px;
}

.jugs {
    text-align: center;
}


.sm-jug {
    margin: auto auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.lg-jug {
    max-width: 100%;
}


.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.0em;
    font-weight: bold;
    color: #191960;
    text-shadow: 1px 1px #87ceeb;
}
.reset {
    visibility: hidden;
}
.hidden {
    visibility: hidden;
}
